<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LoginMapper">

<!--<select id="getAllUser" resultType="user">-->
<!--    select * from TT_USER-->
<!--</select>-->

<select id="getUserByPhone" resultType="user" parameterType="String">
    select * from TT_USER where PHONE = #{PHONE}
</select>

<select id="getUser" parameterType="user" resultType="user">
    select * from TT_USER where phone = #{phone}
    and pass = #{pass} and STATE != 1
</select>

<insert id="regUser" parameterType="user" >
<selectKey resultType="int" keyProperty="id"  order="BEFORE">
    select TT_user_SEQ.Nextval from dual
</selectKey>
    INSERT into TT_USER (id,phone,pass)
    values(#{id},#{phone},#{pass})
</insert>
<insert id="regUserRole" parameterType="user" >
    insert into USER_ROLE values (USER_ROLE_SEQ.Nextval,#{id},1)
</insert>

<delete id="delUserRole" parameterType="user" >
    delete USER_ROLE where id =#{id}
</delete>

<select id="selALLTPro" parameterType="user" resultType="tpro">
    Select T_pro.id, PNAME,UUID from T_pro inner join TT_USER
    on TT_USER.id = T_pro.uuid where phone = #{phone}
</select>

<select id="getUserByPro" parameterType="tpro" resultType="user">
   	Select u.*  from TT_USER u inner join T_pro t on u.id = t.uuid
   	where t.id = #{id} and t.pname =#{pname} and t.pswer = #{pswer}
</select>

</mapper>